body{
    margin: 0;

    font-family: Montserrat, sans-serif;
    font-size: 30px;
    color: #212121;

}

* ,
*:before,
*:after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



/*Container*/

.container{
    width: 100%;
    max-width:1280px;
    margin: 0 auto;
    padding: 75px 80px;
}

/*Intro*/

.intro_content{
    display: flex;
}
.intro_img{
    overflow: hidden;
    position: relative;

    width: 560px;
    height: 500px;
    background: linear-gradient(180deg, #428A60 0%, #35734F 100%);
    box-shadow: 0 24px 80px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
}

.ellipse{
    position: absolute;
    left: 52px;
    top: 56px;
    z-index: 1;

}

.meds{
    position: absolute;
    left: 79px;
    top: 206px;
    z-index: 2;
}

.redulism{
    position: absolute;
    width: 89px;
    height: 23px;
    left: 19px;
    top: 9px;


    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */


    /* white */

    color: #FFFFFF;

}

.eco{
    position: absolute;
    width: 41px;
    height: 23px;
    left: 19px;
    top: 412px;


    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */

    text-transform: uppercase;

    /* white */

    color: #FFFFFF;
}

.ellipse_back{
    position: absolute;
    width: 688px;
    height: 688px;
    left: 293px;
    top: -19px;

    opacity: 0.03;
    /* white */

    border: 20px solid #FFFFFF;
    border-radius: 327px;

}

/*Form*/

.intro_form{
    width: 560px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: 0 24px 80px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
}

form{
    padding: 52px 123px 60px 117px;
}

.intro_title{


    width: 560px;
    height: 136px;
    margin: 0;
    background: #F8F8F8;
    border-radius: 30px;
}

.intro_title h1{
    padding: 29px;
    margin: 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 39px;
    letter-spacing: 0;
    text-align: center;

}

.intro_info{
    margin: 0;
    width: 560px;
    height: 364px;


}

.yourName,
.yourTel{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    line-height: 130%;
    /* identical to box height, or 16px */

    letter-spacing: 0.05em;
}

span{
    color: #428A60;
}

.name{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 96px 16px 20px;

    position: static;
    width: 320px;
    height: 50px;
    left: 0px;
    top: 26px;

    background: #F8F8F8;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 5px;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
}

.teleph{
    display: flex;
    position: relative;
}

.tel{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 14px 16px 20px;

    position: static;
    width: 184px;
    height: 50px;
    left: 0px;
    top: 26px;

    background: #F8F8F8;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 5px;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
}

/*select{*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    /*padding: 16px 20px;*/

    /*position: absolute;*/
    /*width: 116.18px;*/
    /*height: 50px;*/
    /*left: 206px;*/
    /*top: 37px;*/

    /*background: #F8F8F8;*/
    /*border: 1px solid #E4E4E4;*/
    /*box-sizing: border-box;*/
    /*border-radius: 5px;*/
/*}*/

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;

    /*position: absolute;*/
    width: 320px;
    height: 42px;
    /*left: 757px;*/
    /*top: 473px;*/

    /* green */

    background: #428A60;
    border: #428A60;
    border-radius: 5px;

}

.btn-primary{


    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */

    text-align: center;

    /* white */

    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

.btn-primary i{
    position: static;
    width: 15px;
    height: 10px;
    left: 76px;
    top: 4px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
}


.vodiapicker{
    display: none;
}

#a{
    padding-left: 0px;
}

#a img, .btn-select img{
    width: 12px;

}

#a li{
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

#a li:hover{
    background-color: #F4F3F3;
}

#a li img{
    margin: 5px;
}

#a li span, .btn-select li span{
    margin-left: 30px;
}

/* item list */

.b{
    display: none;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;

}

.open{
    display: block !important;
}

.btn-select{
    margin-top: 10px;
    width: 100%;
    max-width: 350px;
    height: 34px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;

}
.btn-select li{
    list-style: none;
    float: left;
    padding-bottom: 0px;
}

.btn-select:hover li{
    margin-left: 0px;
}

.btn-select:hover{
    background-color: #F4F3F3;
    border: 1px solid transparent;
    box-shadow: inset 0 0px 0px 1px #ccc;


}

.btn-select:focus{
    outline:none;
}

.lang-select{
    margin-left: 50px;
}


